* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

body {
  background-color: #ffd5f3;
  margin: 0;
  font-family: Arial, sans-serif;
  color: #333333;
  line-height: 1.4;
}

.container {
  width: 960px;
  margin: 0 auto;
}
.btnStyle {
  background-color: #ab7379;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 70px 22.2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.9s;
}

.btnStyle:hover {
  color: white;
  background-color: #603448;
}

input {
  width: 20%;
  height: 50px;
  border-radius: 7px;
}

.inputStyle {
  display: block;
  margin: 0 auto;
  font-size: 30px;
  text-align: center;
}

.paragraf, .result {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-family: sans-serif;
}

@media all and (min-width: 375px) {

  .container {
    width: 300px;
    margin: 0 auto;
  }

  .btnStyle {
    width: 100%;
    margin: 20px 10px;
  }
}

@media all and (min-width: 768px) {
  .container {
    width: 750px;
    margin: 0 auto;
  }

  .btnStyle {
    width: 43.5%;
  }
}

@media all and (min-width: 992px) {
  .container {
    width: 970px;
    margin: 0 auto;
  }

  .btnStyle {
    width: 40%;
    margin: 60px 47px;
  }
}

@media all and (min-width: 1200px) {
  .container {
    width: 1170px;
    margin: 0 auto;
  }

  .btnStyle {
    width: 15%;
    margin: 70px 56px;
  }
}
